extends layouts/layout

block content
  .contentContainer
    .card
      header.card-header
        p.card-header-title Airdrop Status
      .card-content
        .progress#progress
        .airdropStatsContainer
          .columns
            .column
              .blockFullLabel Total Claimers
              .blockFullDetail=totalClaimers
            .column
              .blockFullLabel Remaining Claimers
              //- XXX This value is not accurate for real txs
              .blockFullDetail=numberWithCommas(remainingClaimers)
          .columns
            .column
              .blockFullLabel Total HNS Claimed
              .blockFullDetail=prettyPrintHNS(totalClaimed)
            .column
              .blockFullLabel Remaining HNS
              .blockFullDetail=prettyPrintHNS(remaining)
  script.
    window.onload = function onLoad() {
      var circle = new ProgressBar.Circle("#progress", {
        color: "#693AFA",
        strokeWidth: 2,
        trailColor: "#f4f4f4",
        trailWidth: 0.8,

        text: {
          value: "#{percentClaimed}% Claimed",
          className: "progressLabel"
        }
      });
      circle.set(#{percentClaimed});
    };

