extends layouts/layout

block content
  .contentContainer
    .card
      header.card-header
        p.card-header-title HNS Blocks
      .card-content
        .blocksContainer
          table.table.anon
            thead
              tr
                th Height
                th.is-hidden-mobile Age
                th Miner
                th.is-hidden-mobile Size
                th TXs
            tbody
              each block in blocks
                tr
                  td
                    a.minerLinks(href="/block/" + block.height)=block.height
                    div.is-hidden-tablet Size: #{block.size}
                  td.is-hidden-mobile= timeAgo(block.time)
                  td
                    a.is-hidden-tablet.minerLinks(href="/address/" + block.mined_by)= truncateHash(block.mined_by, 7)
                    a.is-hidden-mobile.minerLinks(href="/address/" + block.mined_by)=block.mined_by
                    div.is-hidden-tablet= timeAgo(block.time)
                  td.is-hidden-mobile= block.size
                  td
                    a.minerLinks(href="/txs?block=" + block.height)= block.total_txs
    include includes/pagination.pug
