extends layouts/layout

block content
  .contentContainer
    .card
      header.card-header
        h1.card-header-title Name Summary
      .card-content
        .columns
          .column
            .blockFullLabel Name
            .blockFullDetail= name.name
          .column
            .blockFullLabel Release Block
            .blockFullDetail= name.start.start
          .column
            .blockFullLabel Reserved
            .blockFullDetail= name.start.reserved
        if (name.info)
          .columns
            .column
              .blockFullLabel State
              .blockFullDetail= name.info.state
            .column
              .blockFullLabel Blocks Until Next State
              .blockFullDetail=name.nextState.blocksUntil + " " + "( ~" + humanizeDuration(name.nextState.blocksUntil * 600000, {largest: 1}) + " )"
            .column
              .blockFullLabel Next State
              .blockFullDetail=name.nextState.state
    if (name.info)
      .card
        header.card-header
          h2.card-header-title Advanced
        .card-content
          .columns
            .column.is-half
              .tableContainer
                table.table.is-fullwidth
                  tbody
                    tr
                      td.stacked
                        span.stackedLabel Name Hash:
                        span.stackedElement= name.info.nameHash
                    tr
                      td.stacked
                        span.stackedLabel Height:
                        span.stackedElement=name.info.height
                    tr
                      td.stacked
                        span.stackedLabel Renewal:
                        span.stackedElement=name.info.renewal
                    tr
                      td.stacked
                        span.stackedLabel Value:
                        span.stackedElement=prettyPrintHNS(name.info.value)
            .column.is-half
              .tableContainer
                table.table.is-fullwidth
                  tbody
                    tr
                      td.stacked
                        span.stackedLabel Highest:
                        span.stackedElement=prettyPrintHNS(name.info.highest)
                    tr
                      td.stacked
                        span.stackedLabel Weak:
                        span.stackedElement= name.info.weak
                    tr
                      td.stacked
                        span.stackedLabel Transfer:
                        span.stackedElement= name.info.transfer
                    tr
                      td.stacked
                        span.stackedLabel Revoked:
                        span.stackedElement= name.info.revoked
    if (name.records)
          .card
            header.card-header
              p.card-header-title Records
            .card-content
              table.table.is-fullwidth
                thead
                  tr
                    td Record Type
                    td Value
                tbody
                each value, key in name.records
                  tr
                    td=key
                    td=value
    .card
        header.card-header
          h2.card-header-title History
        .card-content
          table.table.is-fullwidth
            if name.history.length
              thead
                tr
                  th Action
                  th Time
                  th Block Height
                  th Value
              tbody
              each tx in name.history
                tr
                  td=tx.action
                  td=timeAgo(tx.time)
                  td
                    a(href=`/block/${tx.height}`)=tx.height
                  if tx.value
                    td=prettyPrintHNS(tx.value)
                  else
                    td
            else
              p There is no history for this name
    include includes/pagination.pug
