extends layouts/layout

block content
  .contentContainer
    if (name.info)
        .card
          header.card-header
            p.card-header-title Name Summary
          .card-content
            .columns
              .column
                .blockFullLabel Name
                .blockFullDetail= name.info.name
              .column
                .blockFullLabel State
                .blockFullDetail= name.info.state
              .column
                .blockFullLabel Claimed
                .blockFullDetail= name.info.claimed

        .card
          header.card-header
            p.card-header-title Advanced
          .card-content
            .columns
              .column.is-half
                .tableContainer
                  table.table.is-fullwidth
                    tbody
                      tr
                        td.stacked
                          span.stackedLabel Name Hash:
                          span.stackedElement= name.info.nameHash
                      tr
                        td.stacked
                          span.stackedLabel Height:
                          span.stackedElement=name.info.height
                      tr
                        td.stacked
                          span.stackedLabel Renewal:
                          span.stackedElement=name.info.renewal
                      tr
                        td.stacked
                          span.stackedLabel Value:
                          span.stackedElement=prettyPrintHNS(name.info.value)
              .column.is-half
                .tableContainer
                  table.table.is-fullwidth
                    tbody
                      tr
                        td.stacked
                          span.stackedLabel Highest:
                          span.stackedElement=prettyPrintHNS(name.info.highest)
                      tr
                        td.stacked
                          span.stackedLabel Weak:
                          span.stackedElement= name.info.weak
                      tr
                        td.stacked
                          span.stackedLabel Transfer:
                          span.stackedElement= name.info.transfer
                      tr
                        td.stacked
                          span.stackedLabel Revoked:
                          span.stackedElement= name.info.revoked

        if (name.records)
          .card
            header.card-header
              p.card-header-title Records
            .card-content
              table.table.is-fullwidth
                thead
                  tr
                    td Record Type
                    td Value
                tbody
                each value, key in name.records
                  tr
                    td=key
                    td=value
    else
        .card
          header.card-header
            p.card-header-title Name Summary
          .card-content
            .columns
              .column
                .blockFullLabel Name
                .blockFullDetail= auction.name
              .column
                .blockFullLabel State
                .blockFullDetail AUCTION
              .column
    .card
      header.card-header
        p.card-header-title History
      .card-content
        table.table.is-fullwidth
          thead
            tr
              td Action
              td Time
              td Block Height
              td Value
          tbody
          each tx in history
            tr
              td=tx.action
              td=timeAgo(tx.time)
              td
                a(href=`/block/${tx.height}`)=tx.height
              if tx.value
                td=prettyPrintHNS(tx.value)
              else
                td

