extends layouts/layout

block content
  .contentContainer
    .card
      header.card-header
        p.card-header-title Node Status
      .card-content
            .tableContainer
              table.table.is-fullwidth
                tbody
                  tr
                    td.stacked
                      span.stackedLabel Host : Port
                      span.stackedElement=(status.host + ":" + status.port)
                  tr
                    td.stacked
                      span.stackedLabel Chain
                      span.stackedElement=status.chain
                  tr
                    td.stacked
                      span.stackedLabel Chain Progress
                      span.stackedElement=status.progress
                  tr
                    td.stacked
                      span.stackedLabel Version
                      span.stackedElement=(`${status.version} (${status.versionAgent})`)
                  tr
                    td.stacked
                      span.stackedLabel Connections
                      span.stackedElement=status.connections
                  tr
                    td.stacked
                      span.stackedLabel Difficulty
                      span.stackedElement
                        +sciNotation(status.difficulty, 5)
                  tr
                    td.stacked
                      span.stackedLabel Uptime
                      span.stackedElement=humanizeDuration(status.uptime)
                  tr
                    td.stacked
                      - let totalDownloaded = formatLargeNumber(status.totalDownloaded, 2)
                      span.stackedLabel Total Downloaded
                      span.stackedElement=(totalDownloaded[0] + " " + totalDownloaded[1].name+ "bytes")
                  tr
                    td.stacked
                      - let totalUploaded = formatLargeNumber(status.totalUploaded, 2)
                      span.stackedLabel Total Uploaded
                      span.stackedElement=(totalUploaded[0] + " " + totalUploaded[1].name+ "bytes")
                  tr
                    td.stacked
                      span.stackedLabel Warnings
                      if status.warnings
                        span.stackedElement=status.warnings
                      else
                        span.stackedElement None
