.card.summaryCard
  header.card-header
    h2.card-header-title Blocks
    a.card-header-icon(href="/blocks") View All
  if blocks.length <= 0
    .emptyStateContainer
      .emptyStateHeader No Blocks
      .emptyStateSubheader The chain needs to be built
  else
    each block in blocks
      .summaryCardItem
        .summaryCardBlock
          .lineContainer
            .is-hidden-mobile.summaryCardImage
              include ../../public/img/3d.svg
            span="Block #: "
              a(href="/block/" + block.height)=block.height
          .lineContainer.detailsText Mined By:&nbsp;
            .is-hidden-mobile
              a(href="/address/" + block.minedBy)=block.minedBy
            .is-hidden-tablet
              a(href="/address/" + block.minedBy)=truncateHash(block.minedBy, 7)
          .summaryCardLine.detailsText="Block Reward: " + prettyPrintHNS(block.reward)
