nav.navbar.is-white(role="navigation" aria-label="main navigation")
  div.navbarContainer

    div.navbar-brand
      a.navbar-item(href="/")
        img(src="/img/logo.svg")
      a.navbar-burger.burger(
        role="button"
        onclick="toggleMobileNav(event)"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      )
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")

    div.navbar-menu#navbarBasicExample
      div.navbar-start(style="width: 100%;")
        //- TODO these have a conditional is-active class...
        a#blocks.navbar-item.navOption(href="/blocks") Blocks
        a.navbar-item.navOption(href="/names") Names
        div.navbar-item.has-dropdown.is-hoverable.navDropdown
          a.navbarMore.navbar-link.navOption Tools
          div.navbar-dropdown
            a.navbar-item(href="/status") Node Status
            a.navbar-item(href="/peers") Peers
            a.navbar-item(href="/airdropclaim") Claim Your Airdrop
            // a.navbar-item(href="/airdrop") Airdrop Stats
        div.navbar-item.has-dropdown.is-hoverable.navDropdown
          a.navbarMore.navbar-link.navOption More
          div.navbar-dropdown
            a.navbar-item(href="/about") About
            hr.navbar-divider
            a.navbar-item(href="https://github.com/HandshakeAlliance/HNScan/issues", target="_blank" rel="noopener noreferrer") Report an issue

      div.navbar-end
        div.navbar-item
          div.field
            form.control.has-icons-left(onsubmit="search()")
              input.input.is-rounded.searchbar(
                type="text"
                placeholder="Search the HNS Blockchain"
                maxlength="63")
              span.icon.is-small.is-left
                i.fas.fa-search
