.card.summaryCard
  header.card-header
    h1.card-header-title Recent Transactions
  if transactions.length <= 0
    .emptyStateContainer
      .emptyStateHeader No Transactions
      .emptyStateSubheader The chain needs to be built
  else
    each tx in transactions
      .summaryCardItem
        .summaryCardBlock
          .lineContainer
            .is-hidden-mobile.summaryCardImage
              include ../../public/img/right-arrow.svg
              //- img(src="/img/right-arrow.svg", alt="arrow")
            span="TX #: "
              a(href="/tx/" + tx.hash)=truncateHash(tx.hash, 6)
          if tx.inputs[0].coin
            span.detailsText=`From: ${truncateHash(tx.inputs[0].coin.address, 7)}`
          else
            span.detailsText Miner Reward
          span.detailsText="Amount: " + prettyPrintHNS(tx.outputs[0].value)
        .summaryCardBlock.align-right-tablet-only
          span.detailsText To: &nbsp;
            a(href="/address/" + tx.outputs[0].address)=truncateHash(tx.outputs[0].address, 7)
          span.is-size-7.has-text-grey-light.is-italic=timeAgo(tx.time)
